#body p, #body h1, #body h2, #body h3, #body h4, #body h5, 
#body h6, #body span, #body a {
    font-family: 'Microsoft Yahei', sans-serif;
}
.teamPromoBlock {
    padding: 5rem 0;
}
.active {
    color: #a61d37;
    border-bottom: 3px solid #a61d37;
    transition: .4s;
}